html{
    font-size:150%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

h3 {
    font-size:2em;
    /*margin:2.33em 0*/
}

.container-main
{
	width: 320px;
	height: 280px;
}

.container-wide
{
	width: 220px;
	height: 93px;
	vertical-align: middle;
	text-align: center;
	float:left;
}

.container-narrow
{
	width: 100px;
	height: 120px;
	vertical-align: middle;
	text-align: center;
	float:right;
	display: inline-block;
}

.td-2-2
{
	width: 220px;
	height: 120px;
	vertical-align: middle;
	text-align: center;
}

.slider-width100
{
    width: 200px;
}

.button-go
{
	background-color:lightgreen;
	width:100px;
	height:100px;
	margin-top: 5px;
}
     
.button-stop
{
	background-color:tomato;
	width:100px;
	height:100px;
	margin-top: 5px;
}               
